<!DOCTYPE html> 
<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>SKSEC WebShell Detecter</title> 
<meta name="description" content="Upload">
    <meta name="author" content="leo">
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
</head> 
<body> 
<form id="slick-login" 
action="./upload.html" ENCTYPE="multipart/form-data" METHOD="POST" > 
 
<h1 style="font-size:34px;text-align:center;color:#000;">INPUT</h1><br><br>
        <label for="file">FILES</label><input type="file" name="multipleFileUpload" placeholder="UPLOAD WEBSHELLS" multiple>
		<label for="1">1ST WEIGHT</label><input type="text" name="w1" class="placeholder" placeholder="1ST WEIGHT" >
		<label for="2">2ND WEIGHT</label><input type="text" name="w2" class="placeholder" placeholder="2ND WEIGHT" >
		<label for="3">3TH WEIGHT</label><input type="text" name="w3" class="placeholder" placeholder="3TH WEIGHT" >
		<label for="rule">RULE</label><input type="text" name="rule" class="placeholder" placeholder="RULE" >
        <input type="submit" value="SUBMIT"> 	
</form> 

</body> 
</html> 
